#p_1 {
    background-color: rgb(17, 0, 255);
    color: rgb(3, 3, 3);
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
    /* border: 2px solid black; */
    border-radius: 50px; 
    box-shadow: 10px 10px 5px burlywood;
    margin: 10px 50px 10px 150px;
    text-shadow: 2px 2px  10px gray;
    line-height: 2px;
    
}

p{
    background-color: rgb(125, 125, 125);
}

.container_2{
    background-color: rgb(17, 0, 255);
    color: rgb(3, 3, 3);
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 50px; 
    box-shadow: 10px 10px 5px burlywood;
    margin: 10px 50px 10px 150px;
    text-shadow: 2px 2px  10px gray;
    line-height: 2px;
    width: 300px;
    height: 200px;
     border: 2px solid black;
    
}
.hi {
     background-color: rgb(214, 235, 196);
    color: rgb(3, 3, 3);
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 50px; 
    box-shadow: 10px 10px 5px burlywood;
    margin: 10px 50px 10px 150px;
    text-shadow: 2px 2px  10px gray;
    line-height: 2px;
    width: 300px;
    height: 200px;
    border: 2px solid black;
}